<!--
  Generated template for the TaskViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>TaskView</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button *ngIf="showEditButton" ion-button class="edit-pencil" (click)='editTaskClicked($event, selectedTask.taskId)' >Edit</button>

  <button *ngIf="showRequestButton" ion-button class="edit-pencil" (click)='requestTaskClicked($event, selectedTask.taskId, selectedTask.ownerUserId)' >Request</button>

  <ion-item>
    <div *ngIf ="selectedTask">
      <h1 class = "task-name">{{selectedTask.taskName}}</h1>
      <h4 class = "requesting-user">Requested by <button ion-button class = "user-button"clear mode="ios" (click)="userClicked($event, selectedTask.ownerUserId)"> {{TASK_OWNER.firstName}}  {{TASK_OWNER.lastName}} --- {{TASK_OWNER.email}}</button></h4>
      <h4 class="task-summary wrap">{{selectedTask.taskDescription}}</h4>
      <h4> </h4>
      <h4>Start Time: {{selectedTask.timeStart}}</h4>
      <h4>End Time: {{selectedTask.timeEnd}}</h4>
      <h4>Estimated Length: {{selectedTask.timeDuration}} hours</h4>
      <!--<h2>Compensation: {{CURRENT_TASK.Compensation}}</h2>-->
      <!--<h2>Location: {{CURRENT_TASK.Location}}</h2>-->
    </div>
  </ion-item>

  <!--This is the place to show users who have requested to help. Not sure if the for is right?-->
  <!--<ion-item>-->
  <!--<div *ngIf="showEditButton">-->
  <!--<h4 ion-text="Users Requesting to Help"> </h4>-->
  <!--</div>-->
  <!--<ion-list>-->
  <!--<h4 *ngFor="let user of requestedUsers">-->
  <!--{{user}}-->
  <!--</h4>-->
  <!--</ion-list>-->
  <!--</ion-item>-->

  <!--this is the place to show -->
  <!--<ion-item>-->
  <!--<ion-list *ng-show="userIsTaskOwner">-->
  <!--<button ion-item *ngFor="let user of suggestedUsers" (click) = 'suggestedUserClicked($event, user, TASK_OWNER, CURRENT_TASK.id)'>-->
  <!--<h1>{{user}}</h1>-->
  <!--</button>-->
  <!--</ion-list>-->
  <!--</ion-item>-->



</ion-content>
