page-task-view {

}

.user-button{
  margin-top: -8px;
}

.task-name{
  text-align: center;
  font-size: 300%;
  color: #3f7cc6;
  text-decoration: underline;
  padding-top: 10px;
}

.requesting-user{
  text-align: center;
  font-size: 120%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.wrap {
  white-space: normal;
  word-wrap: normal !important;
}

.task-summary-name{
  font-weight: bold;
}

.task-summary{
  color: black;
  text-align: center;
  text-wrap: normal;
  font-size: 150%;
}

.accept-button{
  background-color: green;
}

.decline-button{
  background-color: $prim-color;
}

