page-profile {
  ion-item {
    background-color: #f6f6f6;
    opacity: 0.7;
    font-size: 0.9em;
  }

  ion-item:placeholder-shown {

  }

  .title {
    text-align: center;
    margin-bottom: 0px;
  }


  .avatar {
    text-align: center;
    margin-bottom: 0px;
  }


  .avatarCol{
    background-color: $prim-light;

  }

  .editImageButton {
    text-align: center;
    float:right;
    margin-top: -50px;
  }

  .grid{

    padding:0;
  }

  img {
    border:0;
    max-width:140px;
    border-radius:50%;
  }

  //.scroll-content{
  //  overflow-y: hidden;
  //
  //}

  .email{
    margin:0px;

  }

}






