page-profile {

}

.profile-name {
  text-align: center;
  font-size: 36px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  float: left;
  margin: 5px;
}

.name{
  display: block;
  text-align: center;
  font-size: 36px;
  margin: 5px;
}

.right-of-pic {
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 5px;
}

.intro {
  display: block;
}




