page-home {

  ion-item {
    // border-radius: 30px !important;
    padding-left: 10px !important;
    margin-bottom: 10px;
    background-color: #f6f6f6;
    opacity: 0.7;
    font-size: 0.9em;
  }
}
