page-task-edit {

}

.end-button {
  font-size: 20px;
  width: 33vw;
  padding: 10px;
  border-radius: 8px;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 10px;
}

.mid-field-button {
  alignment: center;
}

.perma-text {
  color: black;
}
