// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



/* Main app color scheme */

$prim-color: #b03626;

$prim-xlight: #F38678;
$prim-light: #F38678;
$prim-med: #CD5646;
$prim-dark: #8E1B0C;
$prim-xdark: #290600;


/* Task Card Colors */
$task-confirmed: #5bde99;
$task-pending-applied: #f9d462; //ffcb71
$task-pending-invited: #f9a564; //ffcb71
$task-suggested: #85c8d6;
$task-invited : #85c8d6;
$task-completed: #d5d5d5;
$task-own: $prim-xlight;

$card-bg: #f0f0f1;
$card-border: #cbcbcb;
$card-border-header: #a9a9a9;

//
//$toolbar-background: #ae0606;
//$tabs-background: #ae0606;
//$tabs-md-tab-color-inactive: #ffffff;
//$item-ios-divider-color: #ae0606;


$toolbar-background: $prim-light;
$tabs-background: $prim-color;
$tabs-md-tab-color-inactive: #ffffff;
$item-ios-divider-color: $prim-color;


/** Nav Bar  **/
.toolbar-background { background-color: $toolbar-background; }
//.tabs-background {background: $prim-light;}
//.items-ios-divider-color{color: $prim-light;}

.wrap {
  white-space: normal;
  word-wrap: normal !important;
}
