<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Tasks</ion-title>
  </ion-navbar>

</ion-header>


<!-- Generate List of tasks-->
<ion-content padding>

  <!-- If no Tasks Found -->
  <div *ngIf = "noTasks">
    <h1>You haven't created any tasks</h1>
    <p>Go to the sidebar and click on "Create Task to list a new task.
      We will automatically find qualified helpers to help you complete your task. </p>
  </div>

  <ion-list>
    <ion-card>
      <button ion-item *ngFor="let task of this.myTasks" (click) = 'taskClicked($event, task)'>
        <ion-item class="task-own">
          <ion-avatar item-start>
            <img [src]="photoURL" onerror="this.src='assets/icon/logo-login.png'">
          </ion-avatar>
          <h2>{{task.ownerName}}</h2>
          <p>Starts On: {{task.startDate}} </p>
        </ion-item>

        <ion-card-content>
          <ion-item class="card-item">
            <ion-icon name="checkmark" item-start large></ion-icon>
            <ion-card-title>
              {{task.taskName}}
            </ion-card-title>
          </ion-item>

          <ion-item class="card-item">
            <ion-icon name="stopwatch" item-start large></ion-icon>
            <h2>Expected to last: {{task.duration}} hours</h2>
            <p> Compensation: ${{task.compensation}}</p>
          </ion-item>

        </ion-card-content>
      </button>
    </ion-card>

  </ion-list>

</ion-content>

