page-search {


    ion-segment {
        padding: 0px 12px;
        opacity: 1;
        position: relative;
        top: 1px;
    }
    ion-row {
        align-items: center;
        text-align: center;
      }
    ion-content {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-color: transparent;
    }
}


.toolbar-background-search{

  background-color: white;
  color: $prim-color;
}

.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated{

  border-color: $prim-color;
}

.segment-md .segment-button{
  color: $prim-color;
}
