<!--<ion-header>-->
    <!---->
      <!--<ion-navbar>-->
        <!--<button ion-button menuToggle>-->
          <!--<ion-icon name="menu"></ion-icon>-->
        <!--</button>-->
        <!--<ion-title>Pending</ion-title>-->
      <!--</ion-navbar>-->
    <!---->
    <!--</ion-header>-->
    <!---->
    <!---->
    <!--<ion-content padding>-->
      <!--<div *ngIf = "noConfirmedTask">-->
        <!--<h1>-->
          <!--No confirmed task available. -->
        <!--</h1>-->
      <!--</div>-->
    <!---->
      <!--<ion-list>-->
        <!--<button ion-item *ngFor="let task of CURRENT_USER.pendingTask" (click)="taskClicked($event, task)">-->
    <!---->
          <!--<h1>{{task.taskName}}</h1>-->
          <!---->
        <!--</button>-->
      <!--</ion-list>-->
    <!--</ion-content>-->


<!-- PREVIOUS STUFF --->
<!--<ion-header>-->
    <!---->
      <!--<ion-navbar>-->
        <!--<button ion-button menuToggle>-->
          <!--<ion-icon name="menu"></ion-icon>-->
        <!--</button>-->
        <!--<ion-title>Pending</ion-title>-->
      <!--</ion-navbar>-->
    <!---->
    <!--</ion-header>-->
    <!---->
    <!---->
    <!--<ion-content padding>-->
      <!--<div *ngIf = "noConfirmedTask">-->
        <!--<h1>-->
          <!--No confirmed task available. -->
        <!--</h1>-->
      <!--</div>-->
    <!---->
      <!--<ion-list>-->
        <!--<button ion-item *ngFor="let task of CURRENT_USER.confirmedTask" (click)="taskClicked($event, task)">-->
    <!---->
          <!--<h1>{{task.taskName}}</h1>-->
          <!---->
        <!--</button>-->
      <!--</ion-list>-->
    <!---->
    <!--</ion-content>-->
    <!---->

<!--<ion-header>-->

  <!--<ion-navbar>-->
    <!--<button ion-button menuToggle>-->
      <!--<ion-icon name="menu"></ion-icon>-->
    <!--</button>-->
    <!--<ion-title>Completed</ion-title>-->
  <!--</ion-navbar>-->

<!--</ion-header>-->
<!-- PREVIOUS STUFF --->


<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Confirmed</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>

    <ion-card>
      <button ion-item *ngFor="let task of CURRENT_USER.confirmedTask" (click) = 'taskClicked($event, task)'>

        <ion-item class="task-confirmed">
          <ion-avatar item-start>
            <img [src]="photoURL" onerror="this.src='assets/icon/logo-login.png'">
          </ion-avatar>

          <h2>{{task.ownerName}}</h2>
            <p>Starts On: {{task.startDate}} </p>




        </ion-item>

        <ion-card-content>
          <ion-item class="card-item">
            <ion-icon name="checkbox-outline" item-start large></ion-icon>
            <ion-card-title>
              {{task.taskName}}
            </ion-card-title>
          </ion-item>

          <ion-item class="card-item">
            <ion-icon name="stopwatch" item-start large></ion-icon>
            <h2>Expected to last: {{task.duration}}</h2>
            <p> Compensation: ${{task.compensation}}</p>


          </ion-item>



        </ion-card-content>
      </button>

      <button ion-button full color="light" *ngFor="let task of CURRENT_USER.confirmedTask" block (click)="doPrompt($event, task)">I am not going to do this task</button>
    </ion-card>

  </ion-list>

</ion-content>

