<ion-header>

  <ion-navbar>
    <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Suggested</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <!-- If no Tasks Found -->
  <div *ngIf = "noTasks">
    <h1>We could not suggest any tasks</h1>
    <p>This tab will contain task you could complete given your skill set,
      include more skills in your profile to match more tasks.</p>
  </div>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <ion-card>
      <button ion-item *ngFor="let task of suggestedTasks" (click) = 'taskClicked($event, task)'>

        <ion-item class="task-suggested">
          <ion-avatar item-start>
            <img [src]="photoURL" onerror="this.src='assets/icon/logo-login.png'">
          </ion-avatar>
          <h2>{{task.ownerName}}</h2>

          <p>Starts On: {{task.startDate}}</p>
        </ion-item>

        <ion-card-content>
          <ion-item class="card-item">
            <ion-icon name="hand" item-start large></ion-icon>
            <ion-card-title>
              {{task.taskName}}
            </ion-card-title>
          </ion-item>

          <ion-item class="card-item">
            <ion-icon name="stopwatch" item-start large></ion-icon>
            <h2>{{task.startDate}}</h2>
            <p>Expected to last {{task.duration}} hours</p>
          </ion-item>

          <!--<ion-row>-->
          <!--<ion-col>-->
          <!--<button ion-button icon-left clear small>-->
          <!--<ion-icon name="thumbs-up"></ion-icon>-->
          <!--<div>Rate : 5.0 / 5.0 </div>-->
          <!--</button>-->
          <!--</ion-col>-->
          <!--<ion-col>-->
          <!--<button ion-button icon-left clear small>-->
          <!--<ion-icon name="text"></ion-icon>-->
          <!--<div>Comments</div>-->
          <!--</button>-->
          <!--</ion-col>-->
          <!--<ion-col center text-center>-->
          <!--<ion-note>-->
          <!--11h ago-->
          <!--</ion-note>-->
          <!--</ion-col>-->
          <!--</ion-row>-->

        </ion-card-content>
      </button>
    </ion-card>

  </ion-list>

</ion-content>

